[submodule "GLFW"]
	path = GLFW
	url = https://github.com/glfw/glfw.git
[submodule "GLEW"]
	path = GLEW
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "GLM"]
	path = GLM
	url = https://github.com/g-truc/glm.git
[submodule "SPDLOG"]
	path = SPDLOG
	url = https://github.com/gabime/spdlog.git
[submodule "ASSIMP"]
	path = ASSIMP
	url = https://github.com/assimp/assimp.git
